// base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// base colors definitions
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// theme colors
$body-bg: #132028;
$body-color: $gray-300;
$primary: $gray-300;
$secondary: #e6007a;
$success: #0dff7e;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-500 !default;
$dark: #132028;

// set theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
  ),
  $theme-colors
);

// bootstrap variable overrides
$border-radius: 0.2rem !default;
$border-radius-lg: 0.2rem !default;
$border-radius-sm: 0.2rem !default;
$table-border-width: 0 !default;

$pagination-color: $body-color !default;
$pagination-bg: $dark !default;
$pagination-border-color: $light !default;
$pagination-hover-color: $primary !default;
$pagination-hover-bg: $dark !default;
$pagination-hover-border-color: $light !default;
$pagination-active-color: $light !default;
$pagination-active-bg: $dark !default;
$pagination-active-border-color: $light !default;
$pagination-disabled-color: $light !default;
$pagination-disabled-bg: $dark !default;
$pagination-disabled-border-color: $light !default;

// import bootstrap scss
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// global styles
@font-face {
  font-family: 'Exo2';
  src: url('../../fonts/Exo_2/static/Exo2-Regular.ttf') format('truetype');
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Exo2', monospace;
  margin-bottom: 60px;
  font-size: 0.9rem;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: $secondary;
  outline: none;
}
.logo {
  height: 2.6rem;
}
.hr {
  color: gray;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 0.8rem;
}
.footer a {
  color: $body-color;
}

// header
.header .title {
  font-size: 2.5rem;
  line-height: 3rem;
  vertical-align: middle;
}
.header .kusama-canary {
  width: 6rem;
  height: 6rem;
}
.header .kusama-logo {
  display: inline-block;
  max-width: 186px;
  margin-top: -1.2rem;
  margin-left: 0.1rem;
}

// home
.home-page .project-logo {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  border: 2px solid rgba(16, 138, 238, 0.2);
  margin-right: 1rem;
}
.home-page .sisterof-logo {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  border: 2px solid rgba(16, 138, 238, 0.2);
  margin-right: 0.5rem;
}
.home-page .project-logo-mobile {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  border: 2px solid rgba(16, 138, 238, 0.2);
  margin-bottom: 1rem;
}
.home-page tr {
  cursor: pointer;
}
.home-page tr td {
  border-top: 1px solid rgba(16, 138, 238, 0.2);
}

@media (min-width: 768px) {
  .home-page tr {
    border-bottom: 1px solid rgba(16, 138, 238, 0.2);
  }
  .home-page tr td {
    border-top: 0;
    vertical-align: middle;
  }
  .home-page tr td:first-child {
    width: 20%;
  }
  .home-page tr td:nth-child(2) {
    width: 20%;
  }
  .home-page tr td:nth-child(3) {
    width: 40%;
  }
  .home-page tr td:nth-child(4) {
    width: 10%;
  }
  .home-page tr td:nth-child(5) {
    width: 10%;
  }
}

.home-page h3,
.home-page h4,
.home-page p {
  vertical-align: middle;
}

.project-page .project-logo {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  border: 2px solid rgba(16, 138, 238, 0.2);
  margin-bottom: 1rem;
}

.project-page .sisterof-logo {
  max-width: 24px;
  max-height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(16, 138, 238, 0.2);
  margin-right: 0.1rem;
}

.project-page .project-detail {
  border-bottom: 2px solid rgba(16, 138, 238, 0.2);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}